 /* ===== Default classes start ===== */
.bg-dark-blue {
	background-color: #263238;
}
.bg-light-orange {
	background-color: #fcb322;
}
.bg-orange {
	background-color: #ef6c00;
}
.bg-red {
	background-color: #e74c3c;
}
.bg-light-green {
	background-color: #95c85a;
}
.bg-green {
	background-color: #8bc34a;
}
.bg-white {
    background-color: #fff;
}
.bg-violet {
	background-color: #6370b6;
}
.bg-light-blue {
	background-color: #64b5f6;
}
.bg-blue {
	background-color: #4f71ce;
}
.bg-breeze {
	background-color: #42a5f5;
}
.bg-dark-red {
	background-color: #d32f2f;
}
.bg-dark-grey {
	background-color: #455a64;
}
.border-grey {
    border: 1px solid #dedede;
}
.ml-auto {
	margin-left: auto;
}
.mr-auto {
	margin-right: auto;
}
.mt-auto {
	margin-top: auto;
}
.mb-auto {
	margin-bottom: auto;
}
.mx-auto {
	margin-left: auto;
	margin-right: auto;
}
.my-auto {
	margin-top: auto;
	margin-bottom: auto;
}
.text-center {
	text-align: center;
}
.btn {
	display: inline-block;
	color: #fff;
	font-family: 'robotoregular', sans-serif;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	line-height: 1em;
	cursor: pointer;
}
/* ===== Default classes end ===== */

/* ===== Default component start ===== */
/*font family add*/
.content-wrapper {
	margin-bottom: 110px;
}
.breadcrumb {
    padding: 45px 0;
}
.breadcrumb > li {
    display: inline-block;
}
.breadcrumb > li a {
    color: #b0bec5;
	font-size: .9375rem;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}
.breadcrumb > li a:hover {
    color: #e74c3c;
}
.breadcrumb > li + li::before {
    content: '-';
    padding: 0 5px;
    color: #8bc34a;
}
.breadcrumb > .active {
    color: #263238;
}
/*color font*/
.aside-section {
    padding: 20px 30px 30px;
}
.aside-section + .aside-section {
    margin-top: 30px;
}
.aside-title {
	font-family: 'robotobold', sans-serif;
	font-size: 1.25rem;
	color: #263238;
    padding-bottom: 18px;
    border-bottom: 1px solid #dde3e8;
    margin-bottom: 18px;
}
.list-text {
	font-size: 0.9375rem;
	color: #263238;
}
.card {
	position: relative;
    -webkit-box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
       -moz-box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
            box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
    -webkit-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -moz-transition: all .1s ease-in;
    transition: all .1s ease-in;
}
.card.hot-product::before {
	content: "\f0e7";
	font-weight: 900;
	font-family: "Font Awesome\ 5 Free";
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #8bc34a;
	top: 0;
	left: 0;
	text-align: center;
	line-height: 30px;
}
.card:hover {
    -webkit-box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
       -moz-box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
            box-shadow: 0 16px 20px rgba(216, 216, 216, .75);    
}
.aside-card {
	margin-top: 25px;
	padding-bottom: 25px;
}
.aside-card:not(:last-of-type) {
	border-bottom: 1px solid #dde3e8;
}
.aside-card:last-of-type {
	margin-bottom: 18px;
}
.card-img img,
.aside-card-img {
    width: 100%;
}
.aside-card-img {
	margin-bottom: 20px;
}
.aside-card-title,
.aside-card-price {
	font-family: 'robotobold', sans-serif;
	color: #263238;
}
.aside-card-price {
	line-height: 40px;
}
.aside-card-category,
.card-category {
	font-family: 'robotomedium', sans-serif;
	font-size: 0.875rem;
	color: #8bc34a;
}
.card-title {
	font-family: 'robotomedium', sans-serif;
	color: #263238;
}
.card-price {
	font-family: 'robotobold', sans-serif;
	font-size: 1.25rem;
	color: #263238;
}
.card-description {
    padding: 25px 20px;
    border-bottom: 1px solid #e7ecf2;
}
.card-item-info .card-title{
    display: block;
}
.card-item-info .card-category{
    display: block;
}
.card-author-info {
    padding: 16px 20px;
}
.aside-card-author-info {
    margin-top: 20px;
}
.card-author img,
.aside-card-author img {
    width: 30px;
    height: 30px;
}
.card-author img,
.aside-card-author img {
	margin-right: 14px;
}
.card-author span,
.aside-card-author span {
	font-family: 'robotomedium', sans-serif;
	font-size: 0.875rem;
	color: #546e7a;
	display: inline-block;
	vertical-align: middle;
	margin-left: -4px;
}
.product-rating li,
.aside-product-rating li {
    display: inline-block;
    font-size: 12px;
	color: #ffa726;
	line-height: 30px;
}
.product-rating li + li,
.aside-product-rating li + li {
	margin-left: -2px;
}
.product-rating {
	margin-right: 10px;
}
.product-reviews-count {
	font-size: 0.75rem;
	color: #263238;
}
.product-reviews-count::before {
	content: '(';
	color: #b0bec5;
}
.product-reviews-count::after {
	content: ')';
	color: #b0bec5;
}
.pagination {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
}
.pagination li + li {
	margin-left: 8px;
}
.page-item {
	-webkit-box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
	   -moz-box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
	        box-shadow: 0 1px 2px rgba(205, 214, 222, .75)
}
.page-item.active .page-link {
	color: #fff;
	background-color: #e74c3c;
}
.page-link {
	display: block;
	font-family: 'robotomedium', sans-serif;
	width: 43px;
	height: 38px;
	line-height: 38px;
	text-align: center;
    color: #263238;
    background-color: #fff;
}
.icon {
	display: inline-block;
}
.head-title {
	font-family: 'robotomedium', sans-serif;
	font-size: 1.5rem;
	font-weight: normal;
	color: #263238;
	padding: 18px 33px;
	border-bottom: 1px solid #d7d7d7;
}
.form-control {
	width: 100%;
	height: 40px;
	padding: 0 17px;
	border: 1px solid #dcdcdc;
	background-color: #f9f9f9;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}
/* ===== Default component end ===== */

/* ===== Custom styles start ===== */
/* header start */
.top-header {
	padding-top: 26px;
	padding-bottom: 26px;
}
.user-controls {
	margin-left: 28px;
}
.need-help {
	font-size: 0.9375rem;
}
.need-help > span,
.need-help > span a {
	color: #546e7a;
}
.need-help > span:first-of-type {
	color: #e74c3c;
}
.need-help > span a:hover,
.need-help > span a:focus {
	text-decoration: none;
}
.dropdown-item {
	position: relative;
}
.dropdown-item + .dropdown-item {
	margin-left: 16px;
}
.dropdown-control {
	background-color: #f5f5f5;
	width: 34px;
	height: 34px;
	color: #a0a0a0;
	font-size: 0.875rem;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	position: relative;
	cursor: pointer;
}
.dropdown-menu {
	position: absolute;
	display: none;
	background-color: #fff;
	z-index: 99;
	border: 1px solid #d3d3d3;
	right: 0;
	-webkit-box-shadow: 0 12px 20px rgba(0, 0, 0, .2);
	   -moz-box-shadow: 0 12px 20px rgba(0, 0, 0, .2);
	        box-shadow: 0 12px 20px rgba(0, 0, 0, .2);
}
.dropdown-menu.show {
	display: block;
	top: 28px!important;
}
.dropdown-item.show i {
	color: #263238;
}
.dropdown-notify-item {
	padding: 19px 30px;
	min-width: 268px;
	-webkit-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	transition: all .2s ease-in;
}
.dropdown-notify-item + .dropdown-notify-item {
	border-top: 1px solid #e0e0e0;
}
.dropdown-item .dropdown-notify-item > i {
	-webkit-align-self: flex-start;
	    -ms-flex-item-align: start;
	        align-self: flex-start;
	margin-top: 8px;
	color: #b0bec5;
}
.dropdown-item .dropdown-notify-item:hover > i {
	color: #ef6c00;
}
.notify-item-avatar {
	margin-right: 20px;
}
.notify-item-info {
	max-width: 120px;
}
.notify-item-info > h4 {
	font-size: 0.9375rem;
	font-family: 'robotomedium', sans-serif;
	font-weight: normal;
	color: #263238;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}
.notify-item-info > h5 {
	font-size: 0.75rem;
	font-family: 'robotobold', sans-serif;
	color: #263238;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}
.notify-item-info > h6 {
	font-size: 0.75rem;
	color: #84b743;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}
.notify-item-info > span {
	font-size: 0.625rem;
	color: #707070;
	overflow: hidden;
	white-space: nowrap;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
}
.notify-item-info > span.notify-price {
	font-family: 'robotomedium', sans-serif;
	font-size: 1rem;
	color: #000;
}
.notify-count {
	position: absolute;
	width: 18px;
	height: 18px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
	top: -8px;
	right: -5px;
	color: #fff;
	font-size: 11px;
	text-align: center;
	line-height: 18px;
}
.dropdown-buttons-wrap {
	padding: 0 30px 12px;
}
.notify-item-result {
	width: 100%;
}
.notify-item-result span {
	font-family: 'robotobold', sans-serif;
	font-size: 1rem;
	color: #263238;
	line-height: 1rem;
}
.btn.notify-btn {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	   -moz-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	font-family: 'robotobold', sans-serif;
	font-size: 0.875rem;
	color: #f4f6f5;
	padding: 10px 0;
	text-align: center;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}
.notify-btn + .notify-btn {
	margin-left: 6px;
}
.dropdown-chevron-list {
	padding: 15px 19px;
	min-width: 158px;
}
.dropdown-chevron-list li > i {
	font-size: 0.8rem;
	margin-right: 10px;
	color: #8bc34a;
	line-height: 36px;
}
.dropdown-chevron-list li > a {
	font-size: 0.75rem;
	color: #546e7a;
	line-height: 1em;
}
.user-dropdown-control {
	margin-left: 20px;
}
.user-dropdown-control .user-info-wrap {
	height: 34px;
	margin-left: 15px;
}
.user-dropdown-control .user-info-wrap:hover {
	cursor: pointer;
}
.user-dropdown-control.show .user-info-wrap h6 .fas {
	-webkit-transform: rotate(180deg);
	   -moz-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	     -o-transform: rotate(180deg);
	        transform: rotate(180deg);
	color: #263238;
}
.user-info-wrap h6 {
	font-family: 'robotomedium', sans-serif;
	font-size: 0.875rem;
	color: #000;
	line-height: 1em;
	font-weight: normal;
}
.user-info-wrap h6 .fas {
    color: #707070;
	line-height: 1em;
	font-size: 0.8rem;
	font-weight: 600;
	vertical-align: bottom;
	margin-left: 15px;
}
.user-info-wrap .balance {
	font-family: 'robotobold', sans-serif;
	font-size: 0.875rem;
	color: #8bc34a;
	line-height: 1em;
}
.user-avatar {
	width: 34px;
	height: 34px;
	-webkit-border-radius: 50%;
	   -moz-border-radius: 50%;
	        border-radius: 50%;
}
.btn.logout-btn {
	font-size: 0.75rem;
	padding: 11px 17px;
}
.user-controls .logout-btn {
	margin-left: 30px;
}
.btn.login-btn {
	font-size: 0.75rem;
	padding: 10px 22px;
}
.user-controls .login-btn {
	margin-left: 26px;
}
.btn.register-btn {
	font-size: 0.75rem;
	padding: 10px 14px;
}
.btn.search-btn {
	font-size: 0.9375rem;
	padding: 15px 14px;
}
.user-controls .register-btn {
	margin-left: 7px;
}
.bottom-header {
	padding-top: 23px;
	padding-bottom: 23px;
}
.header-nav {
	line-height: 1em;
}
.header-nav a {
	font-family: 'robotomedium', sans-serif;
	font-size: 0.875rem;
	color: #fff;
	line-height: 1em;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	-moz-transition: all .2s linear;
	transition: all .2s linear;
}
.header-nav a:hover,
.header-nav a:focus {
	color: #e74c3c;
	text-decoration: none;
}
.header-nav a + a {
	margin-left: 36px;
}
/* header end */
/* inner start */
.inner.small-inner {
	padding-top: 60px;
	padding-bottom: 70px;
	background: url("../img/small-inner-bg.jpg") no-repeat bottom / cover;
}
.inner.big-inner {
	padding-top: 155px;
	padding-bottom: 175px;
	background: url("../img/big-inner-bg.jpg") no-repeat center / cover;
}
.inner-title {
	font-family: 'robotobold', sans-serif;
	font-size: 3rem;
	color: #fff;
	line-height: 1em;
}
.inner.big-inner .inner-title {
	margin-bottom: 35px;
}
.inner-subtitle {
	font-family: 'robotomedium', sans-serif;
	font-size: 1.25rem;
	color: #fff;
	line-height: 30px;
	font-weight: normal;
}
.inner.big-inner .inner-subtitle {
	margin-bottom: 55px;
}
.inner.small-inner .inner-subtitle {
	margin-bottom: 20px;
}
.search-wrap {
	position: relative;
	max-width: 671px;
	margin: 0 auto;
}
.search-input {
	width: 100%;
	height: 56px;
	padding-left: 25px;
	padding-right: 50px;
	font-size: 14px;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	        border-radius: 4px;
	background-color: #fff;
	-webkit-box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
	   -moz-box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
	        box-shadow: 1px 1px 10px rgba(100, 100, 100, .75);
}
.search-input:focus {
	-webkit-box-shadow: 1px 1px 10px rgba(124, 178, 64, .75);
	   -moz-box-shadow: 1px 1px 10px rgba(124, 178, 64, .75);
	        box-shadow: 1px 1px 10px rgba(124, 178, 64, .75);
}
.search-input-btn {
	position: absolute;
	font-size: 20px;
	right: 20px;
	top: 12px;
	color: #7c939f;
	background-color: transparent;
}
.search-wrap .search-input::-webkit-input-placeholder {
	font-family: 'robotomedium', sans-serif;
	font-size: 0.875rem;
	line-height: 30px;
	color: #90a4ae;
	letter-spacing: .05em;
}
/* inner end */
/* aside start */
.aside-section .default-chevron-list .fas {
	font-size: 0.8rem;
	color: #8bc34a;
	margin-right: 12px;
}
.aside-section .category-item-count {
	font-size: 0.9375rem;
	line-height: 40px;
	color: #b0bec5;
}
.range-slider-wrap {
	margin-bottom: 50px;
}
.aside-section .search-btn {
	width: 100%;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}
.aside-section .search-btn .fas {
	margin-right: 10px;
}
/* aside end */
/* all-items */
.all-items-wrap .card {
    margin-bottom: 30px;
}
.view-controls {
    padding: 20px;
	margin-bottom: 30px;
}
.sort-wrap span {
	font-size: 0.875rem;
	color: #707070;
	margin-left: 14px;
	margin-right: 24px;
}
.sort-wrap .fas {
	cursor: pointer;
	color: #707070;
}
.sort-wrap .fas.active {
	color: #455a64;
}
.grid-wrap .fas {
	cursor: pointer;
	color: #90a4ae;
}
.grid-wrap i + i {
	margin-left: 13px;
}
.grid-wrap .fas.active {
	color: #8bc34a;
}
.pagination-wrap {
	position: absolute;
    bottom: 1px;
}
/* all-items end */   
/* product details start */
.product-baner {
	background-color: #fff;
	padding: 18px 19px;
	border: 1px solid #dedede;
}
.product-baner img {
	width: 100%;
}
.product-description {
	margin-top: 40px;
}
.product-description h5 {
	font-family: 'robotomedium', sans-serif;
	font-size: 1.875rem;
	color: #263238;
	margin-bottom: 30px;
}
.product-description p {
	color: #707070;
	line-height: 24px;
	margin-bottom: 45px;
}
.btn.product-btn {
	font-family: 'robotomedium', sans-serif;
	font-size: 1rem;
	padding: 17px 35px;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
} 
.btn.product-btn:hover,
.btn.product-btn:focus {
	text-decoration: none;
	color: #fff;
} 
.product-info-wrap .product-btn + .product-btn {
	margin-left: 18px;
}
.product-social a {
	width: 50px;
	text-align: center;
	line-height: 50px;
	color: #fff;
}
.product-social a + a {
	margin-left: 3px;
}
.more-product {
	margin-top: 52px;
	margin-bottom: 28px;
	padding: 16px 27px 18px 27px;
	background-color: #fff;
}
.more-product h4 {
	font-family: 'robotomedium', sans-serif;
	font-size: 1.125rem;
	font-weight: normal;
	line-height: 24px;
	color: #263238;
}
.more-product-card {
	background-color: #fff;
	margin-bottom: 30px;
	-webkit-box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
	   -moz-box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
	        box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
	-webkit-transition: all .1s ease-in;
	-o-transition: all .1s ease-in;
	-moz-transition: all .1s ease-in;
	transition: all .1s ease-in;
}
.more-product-card:hover {
	cursor: pointer;
	-webkit-box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
	   -moz-box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
	        box-shadow: 0 16px 20px rgba(216, 216, 216, .75);
}
.more-product-avatar img {
	width: 100%;
}
.more-product-info {
	padding-left: 21px;
	padding-right: 21px;
}
.more-product-info h5 {
	font-family: 'robotomedium', sans-serif;
	font-size: 0.875rem;
	font-weight: normal;
	color: #263238;
}
.more-product-info h6 {
	font-size: 0.75rem;
	color: #8bc34a;
}
.more-product-price {
	font-family: 'robotobold', sans-serif;
	font-size: 1.125rem;
	color: #263238;
}
.aside-product-price {
	margin-top: 30px;
	margin-bottom: 30px;
}
.aside-section .product-btn {
	width: 100%;
	text-align: center;
	padding-right: 10px;
	padding-left: 10px;
	-webkit-box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
	   -moz-box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
	        box-shadow: 0 1px 2px rgba(205, 214, 222, .75);
}
.aside-section a + a {
	margin-top: 8px;
}
.aside-section .product-btn > i {
	margin-right: 9px;
}
.aside-product-price > span {
	font-family: 'robotomedium', sans-serif;
	font-size: 1.375rem;
	line-height: 27px;
	color: #e74c3c;
}
/* .aside-product-price .custom-select {
	font-size: 0.8125rem;
	color: #70838d;
	padding-right: 10px;
	padding-left: 10px;
} */
.aside-author {
	margin-top: 25px;
	margin-bottom: 25px;
}
.aside-author-info {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	   -moz-box-orient: vertical;
	   -moz-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-left: 14px;
}
.aside-author-info h5 {
	font-size: 1.125rem;
	color: #263238;
}
.btn.view-btn {
	font-size: 0.75rem;
	color: #707070;
	padding: 7px 11px 9px;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}
.aside-author-flag {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	   -moz-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.aside-author-flag li a {
	display: block;
}
.product-sales-quantity > i {
	cursor: pointer;
	color: #a6b5bb;
	margin-right: 20px;
}
.product-sales-quantity .quantity-title {
	font-family: 'robotobold', sans-serif;
	font-size: 1.25rem;
	color: #263238;
	margin-right: 15px;
	line-height: 1em;
}
.product-sales-quantity span {
	color: #707070;
}
.aside-section.quantity {
	padding: 18px 28px;
}
.product-information span {
	display: inline-block;
}
.product-information-main {
	font-family: 'robotomedium', sans-serif;
	font-size: 0.875rem;
	color: #263238;
	line-height: 36px;
}
.product-information-description {
	font-size: 0.875rem;
	color: #a6b5bb;
	line-height: 20px;
	min-width: 50%;
}
/* product details end */
/* product tabs start */
.product-tabs {
	margin-top: 55px;
}
.tab-pane {
	display: none;
}
.tab-pane-chevron-list .fas {
	font-size: 0.8rem;
	line-height: 36px;
	color: #8bc34a;
	margin-right: 14px;
}
.tab-pane-chevron-list {
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center; 
}
.tab-pane-chevron-list li {
	-webkit-flex-basis: 290px;
	    -ms-flex-preferred-size: 290px;
	        flex-basis: 290px;
}
.tab-pane.show {
	display: block;
	padding: 40px 35px;
}
.nav-item {
	-webkit-box-flex: 1;
	-webkit-flex-grow: 1;
	   -moz-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}
.nav-item + .nav-item {
	border-left: 1px solid #dfdfdf;
}
.nav-link {
	font-family: 'robotomedium', sans-serif;
	font-size: 1rem;
	color: #70838d;
	padding: 20px 10px;
	text-align: center;
	display: block;
	border-bottom: 1px solid #dfdfdf;
	position: relative;
}
.nav-link:hover,
.nav-link:focus {
	color: #70838d;
	text-decoration: none;
}
.nav-link.active:hover,
.nav-link.active:focus {
	color: #263238;
}
.nav-link.active {
	color: #263238;
}
.nav-link::after {
	content: "";
	position: absolute;
	height: 0;
	bottom: 0;
	left: -1px;
	right: -1px;
	-webkit-transition: all .2s ease-in;
	-o-transition: all .2s ease-in;
	-moz-transition: all .2s ease-in;
	transition: all .2s ease-in;
}
.nav-link.active::after {
	height: 3px;
	background-color: #8bc34a;
}
/* product tabs end */
/* upload product start */
.form-body {
	padding-top: 40px;
	padding-bottom: 65px;
}
.form-body label {
	font-size: 0.9375rem;
	color: #444;
	padding-left: 45px;
	line-height: 42px;
}
.form-body label > sup {
	font-size: 1.5rem;
	line-height: 1em;
	color: #8bc34a;
	top: -.1em;
}
.form-body .row + .row {
	margin-top: 20px;
}
.form-control::-webkit-input-placeholder {
	font-size: 0.9375rem;
	color: #707070;
}
textarea.form-control {
	padding-top: 10px;
	height: 148px;
}
.form-control.input-file-styler {
	padding-left: 8px;
}
.btn.submit-btn {
	font-family: 'robotomedium', sans-serif;
	font-size:	0.9375rem;
	padding: 16px 38px;
	text-align: center;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
}
/* upload product end */
/* footer start*/
#footer {
	padding-top: 115px;
}
.footer-title {
	font-family: 'ralewaybold', sans-serif;
	font-size:	1.375rem;
	color: #fff;
	line-height: 1em;
}
.footer-title::after {
	content: "";
	display: block;
	width: 51px;
	height: 3px;
	margin-top: 23px;
	background-color: #8bc34a;
}
.footer-text {
	font-size: 0.9375rem;
	color: #b7c3c8;
	line-height: 24px;
	margin-top: 32px;
	margin-bottom: 30px;
}
.footer-address,
.footer-phone a {
	font-family: 'latosemibold', sans-serif;
	font-size: 0.875rem;
	color: #fff;
	line-height: 24px;
}
.footer-address {
	margin-bottom: 20px;
}
.footer-address > i,
.footer-phone > i {
	font-size: 1.125rem;
	color: #8bc34a;
	line-height: 24px;
}
.footer-address > i {
	margin-right: 20px;
}
.footer-phone > i {
	-webkit-transform: rotate(90deg);
	   -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	     -o-transform: rotate(90deg);
	        transform: rotate(90deg);
	margin-right: 12px;
}
.footer-chevron-list {
	margin-top: 27px;
}
.footer-chevron-list li > i {
	font-size: 0.8rem;
	margin-right: 16px;
	color: #8bc34a;
	line-height: 36px;
}
.footer-chevron-list li > a {
	font-size: 0.9375rem;
	color: #b7c3c8;
	line-height: 1em;
}
.footer-social {
	margin-top: 35px;
	margin-bottom: 40px;
}
.footer-social li + li {
	margin-left: 7px;
}
.footer-social li > a {
	display: block;
}
.footer-subscribe-title {
	font-size: 1.25rem;
	color: #fff;
	line-height: 1em;
	margin-bottom: 18px;
}
.subscribe-form-wrapper {
	display: inline-block;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#263238));
	background: -webkit-linear-gradient(top, #000 0%, #263238 100%);
	background: -moz-linear-gradient(top, #000 0%, #263238 100%);
	background: -o-linear-gradient(top, #000 0%, #263238 100%);
	background: linear-gradient(to bottom, #000 0%, #263238 100%);
	padding: 1px;
}
.subscribe-form-wrapper #email {
	width: 216px;
	height: 37px;
	background-color: #2f3c43;
	padding-left: 15px;
}
.subscribe-form-wrapper form > input::-webkit-input-placeholder {
	font-size: 0.875rem;
	color: #697378;
}
.subscribe-form-wrapper button {
	font-size: 1.15rem;
	padding: 9px 13px;
	color: #fff;
	line-height: 1;
}
.footer-copyright {
	display: block;
	font-size: 0.9375rem;
	color: #919699;
	line-height: 1em;
	text-align: center;
	padding: 27px 0 32px;
	border-top: 1px solid #919699;
	margin-top: 100px;
}
/* footer end*/
/* ===== Custom styles end ===== */